

<!-- Card-->
<div class="card hoa-detail"  style="text-align: center;">
    <!--Card image-->
    <div class="view overlay">
        <img src="{{flower.img}}" class="img-fluid hoa-img" alt="">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
  
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">{{ flower.name }}</h4>
        <h4 class="card-title">{{ flower.price }} vnđ</h4>
        <!--Text-->
        <p class="card-text">{{ flower.description }}</p>
        <a (click)="onClick()" class="btn btn-primary">Xem Chi Tiết</a>
    </div>
  </div>
  <!--/.Card -->

