
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3">
            <div class="card card-cascade narrower">
                <div class="view overlay">
                    <img src="{{ flower.img }}" class="img-fluid" >
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="pink-text"><i class="fa fa-cutlery"></i> {{ flower.name }}</h5>
                    <!--Title-->
                    <h4 class="card-title">{{ flower.price }}</h4>
                    <!--Text-->
                    <p class="card-text"> {{ flower.description }}</p>
                    <a class="btn btn-unique">Detail</a>
                </div>
            </div>
    </div>
</div>
</div>
