
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3">
            <div class="card card-cascade narrower">
                <div class="view overlay">
                    <img src="D:\DUC\heroes\src\assets\hoa\3.jpg" class="img-fluid" alt="narrower">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="pink-text"><i class="fa fa-cutlery"></i> NEW</h5>
                    <!--Title-->
                    <h4 class="card-title">Hoa</h4>
                    <!--Text-->
                    <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                    <a class="btn btn-unique">Detail</a>
                </div>
            </div>
    </div>

    <div class="col-lg-3 col-md-3">
            <div class="card card-cascade narrower">
                <div class="view overlay">
                    <img src="D:\DUC\heroes\src\assets\hoa\3.jpg" class="img-fluid" alt="narrower">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="pink-text"><i class="fa fa-cutlery"></i> NEW</h5>
                    <!--Title-->
                    <h4 class="card-title">Hoa</h4>
                    <!--Text-->
                    <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                    <a class="btn btn-unique">Detail</a>
                </div>
            </div>
    </div>

    <div class="col-lg-3 col-md-3">
            <div class="card card-cascade narrower">
                <div class="view overlay">
                    <img src="D:\DUC\heroes\src\assets\hoa\3.jpg" class="img-fluid" alt="narrower">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="pink-text"><i class="fa fa-cutlery"></i> NEW</h5>
                    <!--Title-->
                    <h4 class="card-title">Hoa</h4>
                    <!--Text-->
                    <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
                    <a class="btn btn-unique">Detail</a>
                </div>
            </div>
    </div>
    

</div>
</div>
